<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.wallet.mapper.IBlockInfoMapper">
    <insert id="insertBlockInfoEntity" parameterType="BlockInfoEntity">
        insert into block_info (block_number,block_hash,block_time,create_time)
        values (#{blockNumber},#{blockHash},#{blockTime},#{createTime})
    </insert>
    <select id="findByBlockNumber" resultType="BlockInfoEntity">
        select block_number as blockNumber,block_hash as blockHash,block_time as blockTime,create_time as createTime
        from block_info where block_number=#{blockNumber}
    </select>
</mapper>